/* Make the CRK font a usable font family */
@font-face {
  font-family: CRKFont;
  src: url("CookieRunFont_OTF/CookieRun Regular.otf");
}

@font-face {
  font-family: CRKFont;
  src: url("CookieRunFont_OTF/CookieRun Bold.otf");
  font-weight: bold;
}

/* For making the navigation bar flush to the page */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: CRKFont;
}

/* Background star jellies */
body {
    background-color: whitesmoke;
    /* background-image: url("../images/background/star_jelly.webp");
    
    background-size: 100px; 
    background-repeat: repeat;  */
  }

/* Navigation bar's bg color */
.navbar {
    background-color: palevioletred;
    overflow: hidden;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: white;
    color: palevioletred;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: rebeccapurple;
    color: white;
  }

  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }

  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 16px;
    background-color: inherit;
    font-weight: bold;
    margin: 0; /* Important for vertical align on mobile phones */
  }

  /*Dropdown button when link below is active*/
  .dropdown .dropbtnActive {
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 16px;
    background-color: rebeccapurple;
    font-weight: bold;
    margin: 0; /* Important for vertical align on mobile phones */
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(219, 139, 166);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Style links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Change the color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: white;
    color: palevioletred;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }